doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href='/style.css', rel='stylesheet', type="text/css")
    block page_title
      title exact change only
  body.HolyGrail.Site
    header
      a(href="/")
        h1 exact change only
      ul.contacts
        li
          a(href="mailto:" + package.author.email)= package.author.email
        li
          a(href="https://twitter.com/adamwong246") https://twitter.com/adamwong246
        li
          a(href="github.com/adamwong246") github.com/adamwong246
    .HolyGrail-body
      main.HolyGrail-content
        block content
          != self.content
      nav.HolyGrail-nav
        ul.pages
          li
            a(href="/resume.html") resume.html
          li
            a(href="/resume.pdf") resume.pdf
          li
            a(href="https://raw.githubusercontent.com/adamwong246/adamwong246.github.io/master/_src/resume.md") resume.md
        ul.blog_entries
          - for entry in blog_entries
            li
              a(href=entry.url)= entry.meta.title
      aside.HolyGrail-ads
    footer
      a(href='/') home
      br
      a(href=package.repository.url) source
      br
      = "v" + package.version
      br
      span= package.author.name
      br
      a(href="mailto:" + package.author.email)= package.author.email
      br
      span 2015
